<table align="left"><tr><td>
<a href="https://colab.research.google.com/github/rickiepark/python4daml/blob/main/02장.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="코랩에서 실행하기"/></a>
</td></tr></table>

# 2장 파이썬 소개

## 2.1 파이썬과 파이썬 IDE 설치하기

## 2.2 파이썬의 기본 요소

In [ ]:
print('Yankees rule!')
print('But not in Boston!')
print('Yankees rule,', 'but not in Boston!')

Yankees rule!
But not in Boston!
Yankees rule, but not in Boston!

### 2.2.1 객체, 표현, 수치 타입

In [ ]:
3

3

In [ ]:
3+2

5

In [ ]:
3.0+2.0

5.0

In [ ]:
3!=2

True

In [ ]:
type(3)

int

In [ ]:
type(3.0)

float

### 2.2.2 변수와 할당

In [ ]:
pi = 3
radius = 11
area = pi * (radius**2)
radius = 14

In [ ]:
a = 3.14159
b = 11.2
c = a*(b**2)

In [ ]:
pi = 3.14159
diameter = 11.2
area = pi*(diameter**2)

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
side = 1 #단위 정사각형에서 한 변 길이
radius = 1 #단위 원의 반지름
#단위 정사각형의 면서에서 단위 원의 면적을 뺍니다
area_circle = pi*radius**2
area_square = side*side
difference = area_square - area_circle

In [ ]:
x, y = 2, 3

In [ ]:
x, y = 2, 3
x, y = y, x
print('x =', x)
print('y =', y)

x = 3
y = 2

## 2.3 분기 프로그램

In [ ]:
if x%2 == 0:
    print('짝수')
else:
    print('홀수')
print('조건문 종료')

홀수
조건문 종료

In [ ]:
x = 1111111111111111111111111111111 + 222222222222333222222222 +\
3333333333333333333333333333333

In [ ]:
x = 1111111111111111111111111111111 + 222222222222333222222222 +
3333333333333333333333333333333

SyntaxError: ignored

In [ ]:
x = (1111111111111111111111111111111 + 222222222222333222222222 +
3333333333333333333333333333333)

In [ ]:
if x%2 == 0:
    if x%3 == 0:
        print('2와 3으로 나누어 떨어집니다')
    else:
        print('2로 나누어 떨어지지만 3으로 나누어 떨어지지 않습니다')
elif x%3 == 0:
    print('3으로 나누어 떨어지지만 2로 나누어 떨어지지 않습니다')

2로 나누어 떨어지지만 3으로 나누어 떨어지지 않습니다

In [ ]:
x = 1
y = 2
z = 3

if x < y and x < z:
    print('x가 가장 작습니다')
elif y < z:
    print('y가 가장 작습니다')
else:
    print('z가 가장 작습니다')

x가 가장 작습니다

**뇌풀기 문제**

In [ ]:
if x%2 != 0 and y%2 != 0 and z%2 != 0:
    print(max(x, y, z))
if x%2 != 0 and y%2 != 0 and z%2 == 0:
    print(max(x, y))
if x%2 != 0 and y%2 == 0 and z%2 != 0:
    print(max(x, z))
if x%2 == 0 and y%2 != 0 and z%2 != 0:
    print(max(y, z))
if x%2 != 0 and y%2 == 0 and z%2 == 0:
    print(x)
if x%2 == 0 and y%2 != 0 and z%2 == 0:
    print(y)
if x%2 == 0 and y%2 == 0 and z%2 != 0:
    print(z)
if x%2 == 0 and y%2 == 0 and z%2 == 0:
    print(min(x, y, z))

3

In [ ]:
answer = min(x, y, z)
if x%2 != 0:
    answer = x
if y%2 != 0 and y > answer:
    answer = y
if z%2 != 0 and z > answer:
    answer = z
print(answer)

3

In [ ]:
x = y if y > z else z

In [ ]:
print((x if x > z else z) if x > y else (y if y > z else z))

3

## 2.4 문자열과 입력

In [ ]:
'a'
3*4
3*'a'
3+4
'a'+'a'

'aa'

In [ ]:
new_id

NameError: ignored

In [ ]:
'a'*'a'

TypeError: ignored

In [ ]:
'4' < 3

TypeError: ignored

In [ ]:
len('abc')

3

In [ ]:
'abc'[0]

'a'

In [ ]:
'abc'[3]

IndexError: ignored

In [ ]:
'abc'[-1]

'c'

In [ ]:
'abc'[1:3]

'bc'

In [ ]:
'abc'[0:len('abc')]

'abc'

In [ ]:
'abc'[:]

'abc'

In [ ]:
'123456789'[0:8:2]

'1357'

In [ ]:
num = 30000000
fraction = 1/2
print(num*fraction, '은', num, '의', fraction*100, '%', '입니다')
print(str(num*fraction) + '은', str(num) + '의', str(fraction*100) + '%', '입니다')

15000000.0 은 30000000 의 50.0 % 입니다
15000000.0은 30000000의 50.0% 입니다

In [ ]:
print(str(int(num*fraction)) + '은', str(num) + '의', str(fraction*100) + '%', '입니다')

15000000은 30000000의 50.0% 입니다

In [ ]:
print(f'{int(num*fraction)}은 {num}의 {fraction*100}% 입니다')

15000000은 30000000의 50.0% 입니다

In [ ]:
print(f'{{{3*5}}}')

{15}

In [ ]:
f'{3.14159:.2f}'

'3.14'

In [ ]:
print(f'{num*fraction:,.0f}은 {num:,}의 {fraction*100}% 입니다')

15,000,000은 30,000,000의 50.0% 입니다

### 2.4.1 입력

In [ ]:
name = input('이름을 입력하세요: ')

이름을 입력하세요: 홍길동

In [ ]:
print('정말 이름이', name, '인가요?')

정말 이름이 홍길동 인가요?

In [ ]:
print('정말 이름이 ' + name + '인가요?')

정말 이름이 홍길동인가요?

In [ ]:
print(f'정말 이름이 {name}인가요?')

정말 이름이 홍길동인가요?

In [ ]:
n = input('정수를 입력하세요: ')
print(type(n))

정수를 입력하세요: 3
<class 'str'>

In [ ]:
n*4

'3333'

**뇌풀기 문제**

In [ ]:
birthday = input('생년월일을 입력하세요(mm/dd/yyyy): ')
print(f'당신은 {birthday[-4:]}년에 태어났습니다')

생년월일을 입력하세요(mm/dd/yyyy): 08/08/1971
당신은 1971년에 태어났습니다

### 2.4.2 문자 인코딩에 대한 여담

In [ ]:
print('Mluvíš anglicky?')
print('क्या आप अंग्रेज़ी बोलते हैं?')

Mluvíš anglicky?
क्या आप अंग्रेज़ी बोलते हैं?

### 2.5 while 루프

In [ ]:
num_x = int(input('문자 X를 몇 번이나 출력할까요? '))
to_print = ''
if num_x == 1:
    to_print = 'X'
elif num_x == 2:
    to_print = 'XX'
elif num_x == 3:
    to_print = 'XXX'
#...
print(to_print)

문자 X를 몇 번이나 출력할까요? 3
XXX

예제 2-1 (힘든 방법으로) 정수 제곱하기

In [ ]:
x = 3
ans = 0
num_iterations = 0
while (x != num_iterations):
    ans = ans + x
    num_iterations = num_iterations + 1
print(f'{x}*{x} = {ans}')

3*3 = 9

In [ ]:
x = -3
ans = 0
num_iterations = 0
while (abs(x) != num_iterations):
    ans = ans + abs(x)
    num_iterations = num_iterations + 1
print(f'{x}*{x} = {ans}')

-3*-3 = 9

**뇌풀기 문제**

In [ ]:
num_x = int(input('문자 X를 몇 번이나 출력할까요? '))
to_print = ''
i = 0
while (i < num_x):
    to_print = to_print + 'X'
    i = i + 1
print(to_print)

문자 X를 몇 번이나 출력할까요? 3
XXX

In [ ]:
#11과 12로 나눌 수 있는 양의 정수 찾기
x = 1
while True:
    if x%11 == 0 and x%12 == 0:
        break
    x = x + 1
print(x, '는 11과 12로 나눌 수 있습니다')

132 는 11과 12로 나눌 수 있습니다

**뇌풀기 문제**

In [ ]:
i = 0
max_odd = 0
while (i < 10):
    num = int(input(f'{i+1}번째 양의 정수를 입력해 주세요: '))
    if num%2 != 0 and num > max_odd:
        max_odd = num
    i = i + 1
if max_odd == 0:
    print('입력된 숫자 중에 홀수가 없습니다')
else:
    print(f'입력된 숫자 중에 가장 큰 홀수는 {max_odd}입니다')

1번째 양의 정수를 입력해 주세요: 1
2번째 양의 정수를 입력해 주세요: 2
3번째 양의 정수를 입력해 주세요: 3
4번째 양의 정수를 입력해 주세요: 4
5번째 양의 정수를 입력해 주세요: 5
6번째 양의 정수를 입력해 주세요: 6
7번째 양의 정수를 입력해 주세요: 7
8번째 양의 정수를 입력해 주세요: 8
9번째 양의 정수를 입력해 주세요: 9
10번째 양의 정수를 입력해 주세요: 10
입력된 숫자 중에 가장 큰 홀수는 9입니다

## 2.6 for 루프와 range

In [ ]:
total = 0
for num in (77, 11, 3):
    total = total + num
print(total)

91

In [ ]:
x = 4
for i in range(x):
    print(i)

0
1
2
3

예제 2-2 `for` 문장 사용하기

In [ ]:
x = 3
ans = 0
for num_iterations in range(abs(x)):
    ans = ans + abs(x)
print(f'{x}*{x} = {ans}')

3*3 = 9

In [ ]:
for i in range(2):
    print(i)
    i = 0
    print(i)

0
0
1
0

In [ ]:
index = 0
last_index = 1
while index <= last_index:
    i = index
    print(i)
    i = 0
    print(i)
    index = index + 1

0
0
1
0

In [ ]:
x = 1
for i in range(x):
    print(i)
    x = 4

0

In [ ]:
x = 3
for j in range(x):
    print('바깥쪽 루프 반복')
    for i in range(x):
        print('    안쪽 루프 반복')
        x = 2

바깥쪽 루프 반복
    안쪽 루프 반복
    안쪽 루프 반복
    안쪽 루프 반복
바깥쪽 루프 반복
    안쪽 루프 반복
    안쪽 루프 반복
바깥쪽 루프 반복
    안쪽 루프 반복
    안쪽 루프 반복

In [ ]:
total = 0
for c in '12345678':
    total = total + int(c)
print(total)

36

**뇌풀기 문제**

In [ ]:
sum = 0
# 3~1000 사이의 홀수를 반복합니다.
for odd in range(3, 1000, 2):
    sum = sum + odd
    for n in range(3, odd, 2):
        if odd%n == 0:  # 다른 홀수로 나누어 떨어지면 소수가 아닙니다.
            sum = sum - odd
            break
print(sum)

76125