<table align="left"><tr><td>
<a href="https://colab.research.google.com/github/rickiepark/python4daml/blob/main/05장.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="코랩에서 실행하기"/></a>
</td></tr></table>

# 5장 구조적인 타입과 가변성

## 5.1 튜플

In [ ]:
t1 = ()
t2 = (1, 'two', 3)
print(t1)
print(t2)

()
(1, 'two', 3)

In [ ]:
t1 = (1, 'two', 3)
t2 = (t1, 3.25)
print(t2)
print((t1 + t2))
print((t1 + t2)[3])
print((t1 + t2)[2:5])

((1, 'two', 3), 3.25)
(1, 'two', 3, (1, 'two', 3), 3.25)
(1, 'two', 3)
(3, (1, 'two', 3), 3.25)

In [ ]:
def intersect(t1, t2):
    """t1과 t2를 튜플이라 가정합니다.
       t1과 t2에 모두 들어 있는 원소를 담은 튜플을 반환합니다"""
    result = ()
    for e in t1:
        if e in t2:
            result += (e,)
    return result
print(intersect((1, 'a', 2), ('b', 2, 'a')))

('a', 2)

### 5.1.1 복수 할당

In [ ]:
def find_extreme_divisors(n1, n2):
    """n1과 n2가 양의 정수라 가정합니다.
       n1과 n2에 대해 1보다 큰 가장 작은 공약수와 가장 큰 공약수를 담은 튜플을 반환합니다.
       1보다 큰 공약수가 없으면 (None, None)을 반환합니다"""
    min_val, max_val = None, None
    for i in range(2, min(n1, n2) + 1):
        if n1%i == 0 and n2%i == 0:
            if min_val == None:
                min_val = i
            max_val = i
    return min_val, max_val

**뇌풀기 문제**

In [ ]:
t = range(0, 10)

sum(t)/len(t)

4.5

## 5.3 리스트와 가변성

In [ ]:
L = ['I did it all', 4, 'love']
for e in L:
    print(e)

I did it all
4
love

In [ ]:
L1 = [1, 2, 3]
L2 = L1[-1::-1]
for i in range(len(L1)):
    print(L1[i]*L2[i])

3
4
3

In [ ]:
Techs = ['MIT', 'Caltech']
Ivys = ['Harvard', 'Yale', 'Brown']

In [ ]:
Univs = [Techs, Ivys]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

In [ ]:
print('Univs =', Univs)
print('Univs1 =', Univs1)
print(Univs == Univs1)

Univs = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
True

In [ ]:
print(Univs == Univs1) #값 동일성 테스트
print(id(Univs) == id(Univs1)) #객체 동일성 테스트
print(Univs is Univs1) #객체 동일성 테스트
print('Univs의 id =', id(Univs))
print('Univs1의 id =', id(Univs1))

True
False
False
Univs의 id = 140294041139552
Univs1의 id = 140294041140032

In [ ]:
print('Univs[0]와 Univs[1]의 id', id(Univs[0]), id(Univs[1]))
print('Univs1[0]와 Univs1[1]의 id', id(Univs1[0]), id(Univs1[1]))

Univs[0]와 Univs[1]의 id 140294041106384 140294041106304
Univs1[0]와 Univs1[1]의 id 140294041139472 140294041139872

In [ ]:
Techs.append('RPI')

In [ ]:
print('Univs =', Univs)
print('Univs1 =', Univs1)

Univs = [['MIT', 'Caltech', 'RPI'], ['Harvard', 'Yale', 'Brown']]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

In [ ]:
L1 = [[]]*2
L2 = [[], []]
for i in range(len(L1)):
    L1[i].append(i)
    L2[i].append(i)
print('L1 =', L1, '하지만', 'L2 =', L2)

L1 = [[0, 1], [0, 1]] 하지만 L2 = [[0], [1]]

**뇌풀기 문제**

In [ ]:
L = [1, 2, 3]
L.append(L)
print(L is L[-1])

True

In [ ]:
def append_val(val, list_1 = []):
    list_1.append(val)
    print(list_1)

append_val(3)
append_val(4)

[3]
[3, 4]

In [ ]:
L1 = [1,2,3]
L2 = [4,5,6]
L3 = L1 + L2
print('L3 =', L3)
L1.extend(L2)
print('L1 =', L1)
L1.append(L2)
print('L1 =', L1)

L3 = [1, 2, 3, 4, 5, 6]
L1 = [1, 2, 3, 4, 5, 6]
L1 = [1, 2, 3, 4, 5, 6, [4, 5, 6]]

### 5.3.1 복제

In [ ]:
def remove_dups(L1, L2):
    """L1과 L2를 리스트로 가정합니다.
       L2에도 등장하는 L1의 원소를 삭제합니다"""
    for e1 in L1:
        if e1 in L2:
            L1.remove(e1)
L1 = [1,2,3,4]
L2 = [1,2,5,6]
remove_dups(L1, L2)
print('L1 =', L1)

L1 = [2, 3, 4]

In [ ]:
L = [2]
L1 = [L]
L2 = L1[:]
L.append(3)
print(f'L1 = {L1}, L2 = {L2}')

L1 = [[2, 3]], L2 = [[2, 3]]

In [ ]:
import copy

L = [2]
L1 = [L]
L2 = copy.deepcopy(L1)
L.append(3)
print(f'L1 = {L1}, L2 = {L2}')

L1 = [[2, 3]], L2 = [[2]]

In [ ]:
L1 = [2]
L2 = [[L1]]
L3 = copy.deepcopy(L2)
L1.append(3)
print('L3 =', L3)

L3 = [[[2]]]

In [ ]:
L1 = [2]
L1.append(L1)
print('L1 =', L1)

L1 = [2, [...]]

In [ ]:
L1 = [2]
L2 = [L1, L1]
L3 = copy.deepcopy(L2)
L3[0].append(3)
print(L3)

[[2, 3], [2, 3]]

### 5.3.2 리스트 내포

In [ ]:
[e**2 for e in range(6)]

[0, 1, 4, 9, 16, 25]

In [ ]:
[e**2 for e in range(8) if e%2 == 0]

[0, 4, 16, 36]

In [ ]:
[x**2 for x in [2, 'a', 3, 4.0] if type(x) == int]

[4, 9]

In [ ]:
L = [(x, y)
     for x in range(6) if x%2 == 0
     for y in range(6) if y%3 == 0]
print(L)

[(0, 0), (0, 3), (2, 0), (2, 3), (4, 0), (4, 3)]

In [ ]:
L = []
for x in range(6):
    if x%2 == 0:
        for y in range(6):
            if y%3 == 0:
                L.append((x, y))
print(L)

[(0, 0), (0, 3), (2, 0), (2, 3), (4, 0), (4, 3)]

In [ ]:
print([[(x,y) for x in range(6) if x%2 == 0]
       for y in range(6) if y%3 == 0])

[[(0, 0), (2, 0), (4, 0)], [(0, 3), (2, 3), (4, 3)]]

In [ ]:
[x for x in range(2, 100) if all(x % y != 0 for y in range(2, x))]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [ ]:
def gen_primes():
    primes = []
    for x in range(2, 100):
        is_prime = True
        for y in range(2, x):
            if x%y == 0:
                is_prime = False
        if is_prime:
            primes.append(x)
    return primes

gen_primes()

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

**뇌풀기 문제**

In [ ]:
[x for x in range(2, 100) if any(x % y == 0 for y in range(2, x))]

[4,
 6,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99]

## 5.4 리스트의 고차 연산

예제 5-1 리스트의 원소에 함수 적용하기

In [ ]:
def apply_to_each(L, f):
    """L은 리스트이고 f는 함수로 가정합니다.
       L의 각 원소 e를 f(e)로 변경합니다"""
    for i in range(len(L)):
        L[i] = f(L[i])

L = [1, -2, 3.33]
print('L =', L)
print('L의 각 원소에 abs를 적용합니다')
apply_to_each(L, abs)
print('L =', L)
print(L, '의 각 원소에 int를 적용합니다')
apply_to_each(L, int)
print('L =', L)
print(L, '의 각 원소를 제곱합니다')
apply_to_each(L, lambda x: x**2)
print('L =', L)

L = [1, -2, 3.33]
L의 각 원소에 abs를 적용합니다
L = [1, 2, 3.33]
[1, 2, 3.33] 의 각 원소에 int를 적용합니다
L = [1, 2, 3]
[1, 2, 3] 의 각 원소를 제곱합니다
L = [1, 4, 9]

In [ ]:
for i in map(lambda x: x**2, [2, 6, 4]):
    print(i)

4
36
16

In [ ]:
L1 = [1, 28, 36]
L2 = [2, 57, 9]
for i in map(min, L1, L2):
    print(i)

1
28
9

**뇌풀기 문제**

In [ ]:
def f(L1, L2):
    """L1, L2은 길이가 같은 리스트입니다.
       L1의 각 원소를 같은 인덱스 위치에 있는 L2 원소만큼 제곱한 합을 반환합니다.
       예를 들어, f([1,2], [2,3])는 9를 반환합니다"""
    return sum(map(lambda x, y: x**y, L1, L2))

f([1,2], [2,3])

9

## 5.5 문자열, 튜플, 레인지, 리스트

In [ ]:
even_elems = []
for e in L:
    if e%2 == 0:
        even_elems.append(e)

In [ ]:
print('My favorite professor--John G.--rocks'.split(' '))
print('My favorite professor--John G.--rocks'.split('-'))
print('My favorite professor--John G.--rocks'.split('--'))

['My', 'favorite', 'professor--John', 'G.--rocks']
['My favorite professor', '', 'John G.', '', 'rocks']
['My favorite professor', 'John G.', 'rocks']

## 5.6 집합

In [ ]:
baseball_teams = {'Dodgers', 'Giants', 'Padres', 'Rockies'}
football_teams = {'Giants', 'Eagles', 'Cardinals', 'Cowboys'}

In [ ]:
baseball_teams.add('Yankees')
football_teams.update(['Patriots', 'Jets'])
print(baseball_teams)
print(football_teams)

{'Rockies', 'Yankees', 'Dodgers', 'Padres', 'Giants'}
{'Cardinals', 'Cowboys', 'Patriots', 'Jets', 'Eagles', 'Giants'}

In [ ]:
print(baseball_teams.union({1, 2}))
print(baseball_teams.intersection(football_teams))
print(baseball_teams.difference(football_teams))
print({'Padres', 'Yankees'}.issubset(baseball_teams))

{1, 'Padres', 'Rockies', 2, 'Giants', 'Yankees', 'Dodgers'}
{'Giants'}
{'Yankees', 'Rockies', 'Dodgers', 'Padres'}
True

## 5.7 딕셔너리

In [ ]:
month_numbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
                 1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}
print(month_numbers)
print('세 번째 달: ' + month_numbers[3])
dist = month_numbers['Apr'] - month_numbers['Jan']
print('Apr과 Jan은', dist, '달만큼 떨어져 있습니다')

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May'}
세 번째 달: Mar
Apr과 Jan은 3 달만큼 떨어져 있습니다

예제 5-2 (단순하게) 텍스트 번역하기

In [ ]:
EtoF = {'bread':'pain', 'wine':'vin', 'with':'avec', 'I':'Je',
        'eat':'mange', 'drink':'bois', 'John':'Jean',
        'friends':'amis', 'and': 'et', 'of':'du','red':'rouge'}
FtoE = {'pain':'bread', 'vin':'wine', 'avec':'with', 'Je':'I',
        'mange':'eat', 'bois':'drink', 'Jean':'John',
        'amis':'friends', 'et':'and', 'du':'of', 'rouge':'red'}
dicts = {'English to French':EtoF, 'French to English':FtoE}

def translate_word(word, dictionary):
    if word in dictionary:
        return dictionary[word]
    elif word != '':
        return '"' + word + '"'
    return word

def translate(phrase, dicts, direction):
    UC_letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    LC_letters = 'abcdefghijklmnopqrstuvwxyz'
    punctuation = '.,;:?'
    letters = UC_letters + LC_letters
    dictionary = dicts[direction]
    translation = ''
    word = ''
    for c in phrase:
        if c in letters:
            word = word + c
        elif word != '':
            if c in punctuation:
                c = c +' '
            translation = (translation +
                           translate_word(word, dictionary) + c)
            word = ''
    return f'{translation} {translate_word(word, dictionary)}'

print(translate('I drink good red wine, and eat bread.',
                dicts,'English to French'))
print(translate('Je bois du vin rouge.',
                dicts, 'French to English'))

Je bois "good" rouge vin, et mange pain.
I drink of wine red.

In [ ]:
def key_search(L, k):
    for elem in L:
        if elem[0] == k:
            return elem[1]
    return None

In [ ]:
capitals = {'France': 'Paris', 'Italy': 'Rome', 'Japan': 'Kyoto'}
for key in capitals:
    print(key, '의 도시는', capitals[key], '입니다')

France 의 도시는 Paris 입니다
Italy 의 도시는 Rome 입니다
Japan 의 도시는 Kyoto 입니다

In [ ]:
cities = []
for val in capitals.values():
    cities.append(val)
print(cities, '는 수도 리스트입니다')

['Paris', 'Rome', 'Kyoto'] 는 수도 리스트입니다

In [ ]:
cap_vals = capitals.values()
print(cap_vals)
capitals['Japan'] = 'Tokyo'
print(cap_vals)

dict_values(['Paris', 'Rome', 'Kyoto'])
dict_values(['Paris', 'Rome', 'Tokyo'])

In [ ]:
list(capitals.values())

['Paris', 'Rome', 'Tokyo']

In [ ]:
for key, val in capitals.items():
    print(val, '은(는)', key, '의 수도입니다')

Paris 은(는) France 의 수도입니다
Rome 은(는) Italy 의 수도입니다
Tokyo 은(는) Japan 의 수도입니다

**뇌풀기 문제**

In [ ]:
def get_min(d):
    """d는 문자와 정수를 매핑하는 dict입니다.
       알파벳에 먼저 등장하는 키에 연관된 값을 반환합니다.
       예를 들어 d = {'x': 11, 'b': 12}이면 get_min은 12를 반환합니다"""
    min_key = None
    min_val = None
    for key, val in d.items():
        if min_key == None or min_key > key:
            min_key = key
            min_val = val
    return min_val

get_min({'x': 11, 'b': 12})

12

## 5.8 딕셔너리 내포

In [ ]:
number_to_word = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 10: 'ten'}

In [ ]:
word_to_number = {w: d for d, w in number_to_word.items()}

In [ ]:
word_to_number = {w: d for d, w in number_to_word.items() if d < 10}

In [ ]:
gen_code_keys = (lambda book, plain_text:(
    {c: str(book.find(c)) for c in plain_text}))

In [ ]:
book = "Once upon a time, in a house in a land far away"
plain_text = "no is no"
gen_code_keys(book, plain_text)

{'n': '1', 'o': '7', ' ': '4', 'i': '13', 's': '26'}

In [ ]:
book = "In a village of La Mancha, the name of which I have no desire to call \
to mind, there lived not long since one of those gentlemen that keep a lance \
in the lance-rack, an old buckler, a lean hack, and a greyhound for coursing."
gen_code_keys(book, plain_text)

{'n': '1', 'o': '13', ' ': '2', 'i': '6', 's': '57'}

In [ ]:
encoder = (lambda code_keys, plain_text:
           ''.join(['*' + code_keys[c] for c in plain_text])[1:])

In [ ]:
encrypt = (lambda book, plain_text:
           encoder(gen_code_keys(book, plain_text), plain_text))

In [ ]:
Don_Quixote = book
encrypt(Don_Quixote, 'no is no')

'1*13*2*6*57*2*1*13'

In [ ]:
gen_decode_keys = (lambda book, cipher_text:(
    {s: book[int(s)] for s in cipher_text.split('*')}))

In [ ]:
gen_decode_keys(Don_Quixote, '1*13*2*6*57*2*1*13')

{'1': 'n', '13': 'o', '2': ' ', '6': 'i', '57': 's'}

**뇌풀기 문제**

In [ ]:
code_message = encrypt(Don_Quixote, 'z is not in the book')
# 암호화된 메시지에 ?가 포함되지 않는다고 가정합니다
new_Don_Quixote = Don_Quixote + '?'
gen_decode_keys(new_Don_Quixote, code_message)

{'-1': '?',
 '2': ' ',
 '6': 'i',
 '57': 's',
 '1': 'n',
 '13': 'o',
 '27': 't',
 '23': 'h',
 '11': 'e',
 '173': 'b',
 '134': 'k'}

**뇌풀기 문제**

In [ ]:
decoder = (lambda decode_keys, encrypted_text: (
           ''.join([decode_keys[i] for i in encrypted_text.split('*')])))
decrypt = (lambda book, encrypted_text:
           decoder(gen_decode_keys(book, encrypted_text), encrypted_text))
encrypted_text = '22*13*33*137*59*11*23*11*1*57*6*13*1*2*6*57*2*6*1*22*13*33*\
137*59*11*23*11*1*57*6*173*7*11'
decrypt(Don_Quixote, encrypted_text)

'comprehension is incomprehensible'